body {
    background-color: rgb(255, 131, 131);
    font:  normal 15pt arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
}
#txtn {
    width: 140px;
}
#divsel {
    margin-left: 160px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
   
}